In [ ]:
%pip install openpyxl

In [1]:
import pandas as pd

df = pd.read_excel('C:/Movie_Attendence_Prediction/Testing/Test_data.xlsx', engine='openpyxl')

In [4]:
df.head()

                    Movie       Date  Attendance
0                 Babylon 2023-04-18          34
1  Gesang der Flusskrebse 2023-04-19          90
2                   Sneak 2023-04-25          61
3     The Story Won't Die 2023-04-26          43
4    Crimes of the Future 2023-05-02          19

In [5]:
df.sort_values('Attendance', ascending= False).head()

                                                Movie       Date  Attendance
23                                            Mad God 2023-07-12          97
21                                       Oskars Kleid 2023-07-05          97
22  Me Time ein Film über kinderfreies Leben und E... 2023-07-11          90
1                              Gesang der Flusskrebse 2023-04-19          90
20                                  Decision to leave 2023-07-04          64

In [15]:
import requests

API_KEY = "999ff2a141d82575eae2cd20f2aad315"

def find_movie(movie):
    response = requests.get(
        f"https://api.themoviedb.org/3/search/movie?api_key={API_KEY}"
        f"&query={string_to_query(movie)}")
    return response.json()['results']

def string_to_query(title):
    return title.replace(" ", "+")

In [27]:
def check_empty(dic):
    if not dic: #dic empty?
        return True
    else:
        return False

In [45]:
def get_rating(json):
    if check_empty(json):  #if search was unsuccessfull there is no rating
        return
    return json[0]['vote_average'] #vote_average of first result

In [46]:
df['Rating'] = df['Movie'].apply(find_movie).apply(get_rating)

In [50]:
df.sort_values('Rating', ascending=False).head()

,Movie,Date,Attendance,Rating
22,Me Time ein Film über kinderfreies Leben und E...,2023-07-11,90,9.200
7,Alle reden übers Wetter,2023-05-10,9,9.000
8,Inception,2023-05-16,15,8.363
11,The Truman Show,2023-05-24,41,8.130
13,Im Westen Nichts Neues,2023-06-07,9,7.763